@{
	ViewData["Title"] = "About the Project";
}


<h1 id="about-title">About this project</h1>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>This App was built with: </h3>
			<hr />
			<div id="logos" class="col-sm-12">
				<a class="logo" href="https://dotnet.microsoft.com/apps/aspnet"><img src="~/Assets/Images/aspnet_logo.png" alt="Asp.net Logo" /></a>
				<a class="logo" href="https://docs.microsoft.com/en-us/dotnet/csharp/"><img src="~/Assets/Images/699px-C_Sharp_logo.svg.png" alt="Csharp Logo" /></a>
				<a class="logo" href="https://www.postgresql.org/"><img src="~/Assets/Images/elephant.png" alt="PostgreSQL Logo" /></a>
				<a class="logo" href="https://getbootstrap.com/"><img src="~/Assets/Images/480px-Bootstrap_logo.svg.png" alt="Bootstrap logo" /></a>
				<a class="logo" href="https://www.docker.com/"><img src="~/Assets/Images/docker logo.png" alt="Docker logo" /></a>
			</div>
			<p>
				This Project was built using CSharp as the server-side language, Asp.net as the framework, PostgreSQL as the database and for the front-end it uses Bootstrap with my own custom css, Toastr for notifications and can't forget HTML and a little bit of JavaScript.
				<br />
				Hosting is being done on heroku, and since heroku doesn't support IIS Express Applicatations yet. Therefor, I am containerizing the project in Docker and Heroku is running the container.
				<br />
				For Planning I used Microsoft Task to keep track of what needed to be done, Google Draw for a Database Diagram for planning tables.
				<br />
				View the Source code <a href="https://github.com/WesleySorrentino/BlogApp">here.</a>
			</p>
		</div>
	</div>
</div>