@{
	ViewData["Title"] = "About the Author";
}

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1>About the Author</h1>
			<img id="author-image" src="~/Assets/Images/titled 02.png" alt="Wesley Sorrentino" />
			<div id="author-links">
				<ul id="author-social-links">
					<li><a href="https://www.linkedin.com/in/wesley-sorrentino-863822179/"><i class="fab fa-linkedin-in"></i><p>Linkedin</p></a></li>
					<li><a href="https://github.com/WesleySorrentino"><i class="fab fa-github"></i><p>Github</p></a></li>
					<li><a href="https://twitter.com/WesSorrentino"><i class="fab fa-twitter"></i><p>Twitter</p></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<p>
			<strong>Wesley Sorrentino</strong> is a passionate Full Stack Developer with the Ability to make Full Stack Applications such as this one as well as many more to come. 
				Some of the languages he can program in are: C#, Java, Python, Html, CSS, JavaScript, Sql, and PostgreSql, He is Also a man of many hobbies and talents. 
				Other than coding, Wesley is also a Music Producer and Artist, His Artist name is <a href="https://www.youtube.com/channel/UCD2CmXPaaXjtNxGlOaouBqA">Weezly</a> 
				if you are interested. He's got 6+ Years of Experience of music production with 2 professionally so far and looking to continue his music career. 				
			</p>
		</div>
	</div>
</div>