@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to My Blog App</h1>
	<p>
		My name is Wesley Sorrentino, I'm a Full Stack Developer. <br /> This is my first big Full stack Application I've created without following a tutorial.
		You can learn how I built it <a asp-action="About">here.</a>
	</p>
</div>