#about-title {
	text-align: center;
}

img {
	width: 7rem;
}

#logos {
	padding: 1.5rem;
}

.logo {
	margin: 2.5rem;
	padding: auto;
}

h3 {
	text-align: center;
}

@media only screen and (device-width: 430px) {
	.logo {
		padding: 2rem;
		margin: auto;
	}
}

@media only screen and (device-width: 411px) {
	.logo {
		padding: 8rem;
	}
}

@media only screen and (device-width: 375px) {
	.logo {
		padding: 1rem;
	}
}
