@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a asp-action="Manage" asp-controller="Account" asp-route-id="@UserManager.GetUserId(User)"><p class="nav-link float-right">Hello @User.Identity.Name</p></a>
		</li>
		<li class="nav-item ">
			<a class="nav-link text-primary" asp-controller="Account" asp-action="LogOut">LogOut</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
		</li>
	}
</ul>
