@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using DataLibrary.Models;
@model UserManageModel

	<div class="row">
		<div class="col-md-12 manage">
			<label asp-for="Name" class="control-label"></label>
			<p>@Model.Name</p>
			<label asp-for="Email" class="control-label"></label>
			<p>@Model.Email</p>
			<div class="form-group">
				<a asp-action="ResetPassword" asp-controller="Account" asp-route-id="@Model.Id">Reset Password</a>
			</div>
		</div>
	</div>